ENVIRONMENT=Production

# https://melonlyapi.mintlify.app/quickstart
MELOTOKEN=

# https://discord.com/developers/applications
BOTID=
TOKEN=

# Automatic widget syncing, rather than relying on /refresh
AUTOMATIC_REFRESH=false
# How long it takes to refresh (Minutes)
AUTOMATIC_REFRESH_DELAY=30

# If you want a custom callback
# 1. https://discord.com/developers/applications/:id/oauth2
# 2. Go to "redirects"
# 3. Add /auth/callback to the end of your public URL.
PUBLIC_URL=
# The port you want to use.
CALLBACK_PORT=